  <ion-view title="Register4">
    <ion-content class="padding container"> 
    <div class="clearfix"></div>
    <div class='login-form-container'>
    <div class="row register-container">
    <div class="col">
    <div class="list">
  <div align="center" style="text-align:center">
  <b>Experience</b>
  </div>
  <div id="">
  <b/>Current Company
  <label class="item item-input item-floating-label ">
    <span class="input-label"></span>
      <input type="text" placeholder="">
  </label>
  </div>
  <div id="">
  Current Role/Designation
  <label class="item item-input item-floating-label">
    <span class="input-label"></span>
      <input type="text" placeholder="">
  </label>
  </div>
  From
  <div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Year
  </div>
  <select>
    <option>Year</option>
      <option>2000</option>
      <option>2001</option>
      <option>2002</option>
      <option>2003</option>
      <option>2004</option>
      <option>2005</option>
      <option>2006</option>
      <option>2007</option>
      <option>2008</option>
      <option>2009</option>
      <option>2010</option>
      <option>2011</option>
      <option>2012</option>
      <option>2013</option>
      <option>2014</option>
      <option>2015</option>
  </select>
  </label>
  </div>
<br/>
<div class="list">
<label class="item item-input item-select">
  <div class="input-label">
    Month
</div>
  <select>
    <option>Month</option>
      <option>January</option>
      <option>Feburary</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>September</option>
      <option>October</option>
      <option>November</option>
      <option>December</option>
  </select>
  </label>
  </div>
<br/>
<br/>
To
<!--- <div class="list">
<label class="item item-input">
  <span class="input-label"></span>
    <input type="date">
  </label>
  </select>
</div>
-->
<div class="list">
<label class="item item-input item-select">
<div class="input-label">
Year
</div>
  <select>
    <option selected>Year</option>
      <option>2000</option>
      <option>2001</option>
      <option>2002</option>
      <option>2003</option>
      <option>2004</option>
      <option>2005</option>
      <option>2006</option>
      <option>2007</option>
      <option>2008</option>
      <option>2009</option>
      <option>2010</option>
      <option>2011</option>
      <option>2012</option>
      <option>2013</option>
      <option>2014</option>
      <option>2015</option>
  </select>
  </label>
  </div>
<br/>
<div class="list">
<label class="item item-input item-select">
<div class="input-label">
Month
</div>
  <select>
    <option selected>Month</option>
      <option>January</option>
      <option>Feburary</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>September</option>
      <option>October</option>
      <option>November</option>
      <option>December</option>
  </select>
  </label>
  </div>
<br/>
<br/>
<div class="clearfix"></div>
<div class="row">
<button class="button button-block button-positive" ui-sref="base.register5">Proceed</button>
</div>
</select>
</label>
</ion-content>
</ion-view>