  <ion-view title="Register3">
  <ion-content class="padding container"> 
  <div class="clearfix"></div>
  <div class='login-form-container'>
  <div class="row register-container">
  <div class="col">
  <div class="list">
  <div align="center" style="text-align:center">
    <b>Education</b>
  </div>
  <div id="">
    <b/>Graduation
  </div>
  <div class="list">
  <label class="item item-input item-select">
  <div class="input-label">
        Graduation
  <select>
  <b/>
    <option selected>Select Degree</option>
      <b/><option>PG</option>
        
        <option>M.E/M.Teach/M.S</option>
        <option>M.C.A/M.SC</option>
        <option>M.B.A/P.G.D.M</option>
        <option>M.A/M.Com</option>
        <option>M.Ed</option>
        <option>M.B.B.S/M.D</option>
        <option>Ph.D/D.Phil</option>
        <option>Master's Degree</option>
      <option>UG</option>
        
        <option>B.E/B.Teach</option>
        <option>B.C.A/B.Sc</option>
        <option>B.B.A/B.B.M</option>
        <option>B.A/B.Com</option>
        <option>B.Ed</option>
        <option>Bachelor's Degree</option>
        <option>Diploma/School</option>
        
        <option>X</option>
        <option>XII/PUC</option>
        <option>Diploma</option>
        <option>Others</option>
     </select>
    </label>
  </div>
  </div>
<br/>
<div id="">
  Specialization
  <label class="item item-input item-floating-label ">
    <span class="input-label"></span>
      <input type="text" placeholder="Text">
  </label>
</div>
<br/>
<div id="">
<br/>
<div class="list">
  University
  <label class="item item-input item-select">
    <div class="input-label">
      University
  <select>
      <option>Select</option>
        <option value="anna university"><b/>Anna University</option>
        <option>Bharathidasan University</option>
        <option>SASTRA University</option>
        <option>SRM University</option>
        <option>Amirta University</option>
        <option>IIT</option>
        <option>NIT</option>
        <option>Others</option>
  </select>
  </label>
  </div>
  </div>
  </div>
  <br/>
<div id="">
<div class="list">
  Pass Out
  <label class="item item-input item-select">
    <div class="input-label">
      Pass Out
  <select>
      <b/><option>Year</option>
        <option>2000</option>
        <option>2001</option>
        <option>2002</option>
        <option>2003</option>
        <option>2004</option>
        <option>2005</option>
        <option>2006</option>
        <option>2007</option>
        <option>2008</option>
        <option>2009</option>
        <option>2010</option>
        <option>2011</option>
        <option>2012</option>
        <option>2013</option>
        <option>2014</option>
        <option>2015</option>
    </select>
    </label>
  </div>
  </div>
  </div>
<br/>

<div class="input_fields_wrap">
    <button class="add_field_button">Add More</button>
    <div><input type="text" name="mytext[]"></div>
    <div><input type="text" name="mytext[]"></div>
    <div><input type="text" name="mytext[]"></div>
    <div><input type="text" name="mytext[]"></div>
    <div><input type="text" name="mytext[]"></div>
</div>
</form>
<!--<div class="login-to-registration">
         <br>
        <a ui-sref="base.register"><center>Add More</center></a> 
      </div>

  </div>
  -->
<div class="">
  <div class="clearfix">
    <div class="row">
      <button class="button button-block button-positive" ui-sref="base.register4">Proceed</button>
</div>
</div>
</div>
</ion-content>
</ion-view>
    