  <ion-view title="Register2">
    <ion-content class="padding container"> 
    <div class="clearfix"></div>
    <div class='login-form-container'>
    <div class="row register-container">
    <div class="col">
    <div class="list">
   <div align="center" style="text-align:center">
  <b>Profile</b>
  </div>
  <b/><div id="">
  Gender
  <div class="list">
    <label class="item item-input item-select">
          <div class="input-label">
           Gender
         <select>
            Gender
              <option>Select</option>
              <b/><option>Male
              </option>
            <option>Female</option>
            </select>
      </label>
      </div>
  </div>
  <div id="">
      Date of Birth
        <div class="list">
        <label class="item item-input">
          <span class="input-label"></span>
          <input type="date">
        </label>
        </div>
        </div>
    <br/>
  <div id="">
  Your Location
  <label class="item item-input item-floating-label">
    <span class="input-label"></span>
    <input type="text" placeholder="location">
  </label>
  <br/>
  <label class="item item-input item-floating-label">
    <span class="input-label"></span>
    <input type="text" placeholder="pincode">
  </label>
  </div>  
  <br/>
  <div class="list">
  Current Status
  </div>
  <label class="item item-input item-select">
    <div class="input-label">
    Current Status
    </div>
  <select>
    <option>Select</option>
      <option>Student</option>
        <option>Professional</option>
        <option>Consultant</option>
      </select>
    </label>
  </div>
  <br/>
  </div>
  <div class="clearfix">
  </div>
  <div class="row">
    <button class="button button-block button-positive" ui-sref="base.register3">Proceed</button>
  </div>
  <div class="clearfix"></div>
    <div class="registration-to-register">
  </div>
  </div>
  </div>
  </div>
  </ion-content>
  </ion-view>
 


