  <ion-view title="Register5">
  <ion-content class="padding container"> 
  <div class="clearfix"></div>
  <div class='login-form-container'>
  <div class="row register-container">
  <div class="col">
  <div class="list">
  <div align="">
  <div align="center" style="text-align:center">
  <b>Skills</b>
  </div>
  <br/>
  <ul class="list">
    <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Checkbox1
    </li>
  <ul class="list">
    <li class="item item-checkbox">
      <label class="checkbox">
         <input type="checkbox">
      </label>
      Checkbox2
    </li>
  <ul class="list">
    <li class="item item-checkbox">
      <label class="checkbox">
         <input type="checkbox">
       </label>
       Checkbox3
    </li>
  <ul class="list">
    <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Checkbox4
    </li>
  <ul class="list">
    <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Checkbox5
    </li>
  <ul class="list">
   <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Checkbox6
    </li>
<br/>
<br/>
<br/>
<div align="center" style="font-size:100%">
<b>Industry Experience</b>
</div>
<br/>
  <ul class="list">
   <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Checkbox1
    </li>
  <ul class="list">
    <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Checkbox2
    </li>
  <ul class="list">
   <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Checkbox3
    </li>
  <ul class="list">
    <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Checkbox4
    </li>
  <ul class="list">
   <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Checkbox5
    </li>
  <ul class="list">
    <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Checkbox6
    </li>
<div class="clearfix"></div>
<div class="row">
<button class="button button-block button-positive" ng-click="register()">
  Proceed
</button>
</div>
</div>
</div>
</div>
</div>
</div>
</ion-content>
</ion-view>
